{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} A daily exercise to see things with new eyes. {% endblock %}</h1>
    <br><br>
<p>Dedicate 5 minutes each day to really notice the details of the world around you.</p>
<p>Each exercise you will be presented with a new random image and a timer for 5 minutes. During this period, write down all of the detail that you can see in the image. From foreground to background. From obvious to detail. From objective to emotional response.</p>
<p>The goal of the exercise is to refresh and renew your lens to the world.</p>

{% endblock %}